
body {
font-family: "Inter", sans-serif;
    }
.toast {
  border: 5px solid transparent; /* Adjust the border */
  position: absolute; 
  bottom: 10px; 
  right: 10px;
  padding: 10px 15px; /* Add padding for better visibility */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

/* Success style */
.toast.success {
  background-color: #1b8324; /* Green color for success */
  color: #fff; /* Text color for better contrast */
}

/* Error style */
.toast.error {
  background-color: #ff0000; /* Red color for error */
  color: #fff; /* Text color for better contrast */
}

/* Hide the toast by default */
.toast.hidden {
  display: none;
}
.loader {
border: 5px solid #f3f3f3;
border-top: 5px solid #3498db;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 2s linear infinite;
position: fixed; /* Change to fixed position */
top: 50%; /* Center vertically */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%); /* Adjust for centering */
z-index: 999; /* Ensure it's above other elements */
display: none; /* Initially hidden */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
